body {
    background: #333;
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width:  960px;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

#paper {
    height: 600px;
    width:  960px;
}

li img {
    display: inline-block;
    height: 100px;
}

.popup .p-row {
    display: inline-block;
    vertical-align: top;
}

.info-row {
    padding: 10px;
    width:  600px;
    position: absolute;
    background: #222;
    top: 160px;
    opacity: 0.9;
    z-index: 12px;
}

.copy {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #666;
}

.info-row .desc h2 {
    font-weight: normal;
    font-size: 24px;
    color: orange;
}

.info-row .desc p {
    padding-top: 10px;
    font-family: Georgia;
    color: #eee;
}

.info-row .desc {
   display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 400px;
}

.mapheader {
    padding: 5px 10px;
    background: #222;
    font-size: 36px;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
}

.popup {
    z-index: 10;
    padding: 10px;
    display: none;
    position: absolute;
    background: #222;
    opacity: 0.96;
    display: inline-block;
}